# Xcode
build/
DerivedData/
*.xcuserdatad/
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods / Carthage (not used, but safe to ignore)
Pods/
Carthage/Build/
